/*general*/
h2 {
	font-family: 'Reddit Sans', sans-serif; 
	font-size: 2.5rem;
	margin-bottom: 0rem;
	font-weight: 800;
	margin-left:2vw;
}
hr {
	color: light-gray;
}
#main-content {
	width: 55vw;
	padding: 1vw 10vw;
}


/* TAG STUFF */
.tag_holder {
}

.tag_input {
	display: none;
}

.tag_label {
	font-family: 'Reddit Sans', sans-serif; 
	font-weight: 600;
	border-radius: 13px;
	margin: .5rem;
	padding: .5rem;
	font-size: 1.2rem;
	color: white;
	background: gray;
	cursor: pointer;
	transition: background 0.1s;
}

.tag_input:checked + .tag_label {
	background: red;
}

.tag_header {
	font-family: 'Reddit Sans', sans-serif; 
	font-size: 1.3rem;
	font-weight: 700;
	margin-left: 2vw;
}


/*txt inputs*/
.title_inpt {
	font-family: 'Reddit Sans', sans-serif; 
	font-weight: 600;
	width: 90%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 15px;
	border-color: light-gray;
	margin-left: 2vw;
}

.post_content {
	font-family: 'Reddit Sans', sans-serif; 
	width: 90%;
	height: 300px;
	padding: 1rem;
	font-size: 1.2rem;
	resize: none;
	border-radius: 15px;
	border-color: light-gray;
	margin-left: 2vw;
}


/*submit btn*/
.submit_btn {
	font-family: 'Reddit Sans', sans-serif; 
	font-weight: 800;
	margin-top: 1rem;
	font-size: 1.4rem;
	padding: .8rem 1rem;
	background: red;
	color: white;
	border-radius: 15px;
	border: none;
	float: right;
	margin-right: 1vw;
}