/*general*/
h2 {
	font-family: 'Reddit Sans', sans-serif; 
	font-size: 2.5rem;
	margin-bottom: 0rem;
	font-weight: 800;
}
hr {
	color: light-gray;
}
#main-content {
	width: 55vw;
	padding: 1vw 10vw;
}


/* TAG STUFF */
.tag_holder {
}

.tag_input {
	display: none;
}

.tag_label {
	font-family: 'Reddit Sans', sans-serif; 
	font-weight: 600;
	border-radius: 20px;
	margin: .5rem;
	padding: .7rem;
	font-size: 1.3rem;
	color: white;
	background: red;
	cursor: pointer;
	transition: background 0.1s;
}

.tag_input:checked + .tag_label {
	background: gray;
}

.tag_header {
	font-family: 'Reddit Sans', sans-serif; 
	font-size: 1.5rem;
	font-weight: 700;

}



/*txt inputs*/
.title_inpt {
	font-family: 'Reddit Sans', sans-serif; 
	font-weight: 600;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
}

.post_content {
	font-family: 'Reddit Sans', sans-serif; 
	width: 100%;
	height: 40vh;
	padding: 1rem;
	font-size: 1.2rem;
	resize: none;
}



/*submit btn*/
.submit_btn {
	font-family: 'Reddit Sans', sans-serif; 
	margin-top: 1rem;
	font-size: 1.4rem;
	padding: .6rem;
	background: red;
	color: white;
}