/* css file for user_view 
 
please . edit this soon future gab... 
this file is so buns...
 
 */

/* css rules that overwrite ones in index.css : */

/*
header 
{
	background-image: linear-gradient(to right, var(--orange-glow), var(--orangey-red)); 

}

#logo {

  color: white; 
}

#reg, #log {

}
*/

/* until here... rest is user profile specific css */

.user-container {

	position: relative;

	height: 600px;
	width: 100%;		

	margin-left: auto;	
	margin-right: auto;

}

/* sizing relative to container */

.user-stats {

	position: absolute; 

	height: 500px;
	width: 27%;	
	border: 2px solid var(--yellow-border);
	border-radius: 15px;

	top: 0;
	right: 0;		

	margin-right: 10%;

	float:right;
	background-image: linear-gradient(to right, var(--orange-glow), var(--orangey-red)); 
}

.user-stats h2 {

	margin-left: 20px;	
	text-align: left;
	color: white;
    font-family: 'Reddit Sans', sans-serif;
}

.clear-right {
	clear: right;	
}

/* sizing relative to container . 

	this is the section/container in
	the center . 		
 
 */

.user-profile-info {

	position: absolute;	

	width: 60%;
	height: 100%;

}


/* sizing relative to profile section */

#user-banner {
	
	position: absolute;
	width: 100%;
	height: 45%;
	border-radius: 15px;
}


/* default behavior for now, replace
with an actual image */	

#user-banner img {
	
	position: absolute;
	height: 100%;	
	width: 100%;
	border-radius: 15px;
	object-fit: cover;

}

/* banner hover pseudo class */

/* pfp*/

/* sizing relative to hirsfhi profile section */

#user-pfp-wrapper {

	position: relative;

	height: 140px;
	width: 140px;

	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;

}

#user-pfp {

	position: relative; 

	height: 140px;
	width: 140px;

	border-radius: 50%;
	border: none;
	box-sizing: border-box;
	overflow: hidden;

}

#user-pfp img {

	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/* .user-profile-info-bottom {

	position: absolute; 	

	height: 100%;
	width: 100%;
	margin-top: 120px;	

  --mask:
    radial-gradient(67.08px at 50% 90px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

	background-color: #DCDCDC;
} */

#user-name {

	position: relative; 
	height: 8%;
	width: 100%;

	margin-left: auto;
	margin-right:auto;
}

#user-name h1 {

	text-align: center;	
    font-family: 'Reddit Sans', sans-serif;
		
}

/* relative to info */

.user-bio, .edit-btn {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: auto;

}

#bio {

	text-align: center;
    font-family: 'Reddit Sans', sans-serif;
	display: block;
}

#bio.hide{
	display: none;
}


#user-content-space {

	width: 100%;
  display: flex;
  
  flex: 0 1 1;

  flex-direction: column;

}

.userprof-post-display{

    background-color: var(--background-color);

    margin-bottom:20px;
    width:100%;
    padding-left:15px;
    height:200px;
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #df4b4b;
}

#userprof-post-left-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

#userprof-post-right-area{

    display: flex;
    flex-direction: column;
}

#userprof-upvote-btn, #userprof-downvote-btn{
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin-right: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: var(--default-txt);
}

#userprof-vote-count{
    font-family: 'Reddit Sans', sans-serif;
    font-size: 16px;
    margin-right: 10px;
    color: var(--default-txt);
    margin-bottom: 20px;
    margin-top: 10px;
}

#userprof-post-flex-display{
    display:flex;
    flex-direction: column;
}

#userprof-user-pfp{
    height:70px;
    width:70px;
    margin-right:10px;
    display:block;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
}

#userprof-post-tag{
    height:25px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 16px;
    border-radius:8px;
    font-family: 'Reddit Sans', sans-serif;
    padding-left: 8px;
    padding-right:8px;
}

#userprof-post-title{
    display:inline-block;  
    margin-top:14px;
    font-size:22px;
    font-family: 'Reddit Sans', sans-serif;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--default-txt);

}

#userprof-post-flex-top{
    display:flex;

    width: 825px;
    min-height:56px;
    
}

#userprof-post-flex-bottom{
    display:flex;

    width: 825px;
    min-height:24px;
}

#userprof-post-content{
    display:inline-block;
    font-family: 'Reddit Sans', sans-serif;
    padding-bottom:-15px;
    font-size:15px;
    margin-top: -5px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color: var(--default-txt);

}

#userprof-post-date{
    margin-left:auto;
    font-family: 'Reddit Sans', sans-serif;
    color: var(--default-txt);

}

.userprof-view-post-button{
    border:none;
    background: none;
    cursor:pointer;
    height:80px;
    margin-bottom:170px;
    padding-right: 20px;
    transition-duration: 0.4s;  
}




#edit-profile-btn{
	width: 100px;
    height:40px;
    background-color:var(--background-color);
    color: rgba(223, 75, 75);
    border-radius:30px;
    margin-top:0%;
    margin-bottom: 0%;
    font-family: 'Reddit Sans', sans-serif; 
    border: 1px solid rgba(223, 75, 75);
	cursor: pointer;
}

#edit-profile-btn.hide{
	display: none;
}

#cancel-btn, #save-btn{
	width: 100px;
    height:40px;
    background-color:var(--background-color);
    color: rgba(223, 75, 75);
    border-radius:30px;
    margin-top:0%;
    margin-bottom: 0%;
    font-family: 'Reddit Sans', sans-serif; 
    border: 1px solid rgba(223, 75, 75);
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	display: none;
}

#cancel-btn.show, #save-btn.show{
	display: block;
}

#camera-icon{
	position: absolute;
	bottom: -14px;
	left: 50%;
	transform: translateX(-50%);

	color: white;
	border-radius: 50%;
	padding: 6px;
	cursor: pointer;
	font-size: 18px;
	display: none;
	z-index: 1;
}

#camera-icon.show {
  	display: block;
}

#bio-edit{
	width: 100%;
	border-radius: 15px;
	padding: 10px;
	display: none;
	font-family: 'Reddit Sans', sans-serif;
	margin-bottom: 10px;
}

#bio-edit:focus{
    text-align: left;
    border-color: var(--yellow-border);
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 0 20px var(--orange-glow); 
}

#bio-edit.show{
	display: block;
}

.side-nav-buttons{
    font-family: 'Reddit Sans', sans-serif;
    text-decoration: none; 
    color: var(--sidenav-button); 
    font-size: 16px;
    background-color: transparent;
    width: 200px;
    height: 60px;
    border-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: left;
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin: 0.7rem;
}

.side-nav-buttons:hover{
    background-color: var(--sidenav-btnhover);
    cursor: pointer;
}

.side-nav-buttons:checked + .filter-label-main {
    background-color: var(--sidenav-active);
}
